<div class="container">

            <hr>
            <br><br>
            <h4><strong>Details</strong></h4>
            <hr>
            <div class="table-responsive">
            <table class="table table-hover table-sm">
                <tr>
                    <td><strong>Name:</strong></td>
                    <td>{{user.first_name}} &nbsp; {{user.last_name}}</td>
                </tr>
                <tr>
                    <td><strong>Username:</strong></td>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <td><strong>Email:</strong></td>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <td><strong>Reg No:</strong></td>
                    <td>{{user.profile.reg_no}}</td>
                </tr>
            </table>
            </div>
            <br>
            <br>
            <br>
            </div>
