{% extends 'base.html' %}
{% block content %}
<br><br>
<div class="container">
    <div class="col-md-8">
    <div class="panel panel-default">
            <div class="table-responsive">
            <table class="table  table-sm">
                <tr>
                    <td><strong>Name:</strong></td>
                    <td>{{user.first_name}} &nbsp; {{user.last_name}}</td>
                </tr>
                <tr>
                    <td><strong>Username:</strong></td>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <td><strong>Email:</strong></td>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <td><strong>Reg No:</strong></td>
                    <td>{{user.profile.reg_no}}</td>
                </tr>
            </table>
            </div>
        </div>
        </div>

    {% endblock %}
